<h1>Test Cron Jobs Module</h1>

<cron-jobs [(ngModel)]="freq" [cronJobConfig]="cronConfig" ></cron-jobs>

<hr>

<pre>{{ freq | json }}</pre>

<hr>

<cron-jobs-select [(ngModel)]="freqSec" [config]="cronConfig"></cron-jobs-select>

<hr>

<pre>{{freqSec | json }}</pre>

<hr>
<input type="text" [(ngModel)]="freq">
<input type="text" [(ngModel)]="freqSec">
<button (click)="reset()">Reset</button>
<button (click)="set()">Set</button>
<button (click)="toggleService()">Toggle Service</button>
<button (click)="toggleBootstrap()">Toggle Bootstrap</button>
