<div class="cron-wrap">
  <span>Every: </span>
  <div class="cron-select-wrap">
    <select class="cron-select" [(ngModel)]="selectedBase">
            <option *ngFor="let item of initialFrequencies" [ngValue]="item.value">{{item.label}}</option>
        </select>
  </div>

  <div class="select-options">

    <span *ngIf="selectedBase == 4">on </span>
    <div *ngIf="selectedBase == 4" class="cron-select-wrap">
      <!-- If Multiple is Enabled
      <select class="cron-select day-value" ng-model="frequency.dayValues" ng-if="allowMultiple" multiple ng-options="value as (value | cronDayName: cronStyle) for value in dayValues">
        </select> -->
      <!-- If Multiple is not Enabled -->
      <select class="cron-select day-value" [(ngModel)]="selectedDay">
      <option *ngFor="let item of cronDayValues" [ngValue]="item.value">{{item.label}}</option>
      </select>
    </div>
    <span *ngIf="selectedBase >= 5">on the </span>
    <div *ngIf="selectedBase >= 5" class="cron-select-wrap">
      <!-- If Multiple is Enabled
      <select class="cron-select day-of-month-value" ng-model="frequency.dayOfMonthValues" ng-if="allowMultiple" multiple ng-options="value as (value | cronNumeral) for value in dayOfMonthValues">
            </select>  -->

      <select class="cron-select day-of-month-value" [(ngModel)]="selectedDayOfMonth">
        <option *ngFor="let item of cronNumeral" [ngValue]="item.value">{{item.label}}</option>
      </select>
      <!-- If Multiple is not Enabled -->
    </div>


    <span *ngIf="selectedBase == 6">of </span>
    <div *ngIf="frequency.base == 6" class="cron-select-wrap">
      <!-- If Multiple is Enabled  
       <select class="cron-select month-value" ng-model="frequency.monthValues" ng-if="allowMultiple" multiple ng-options="value as (value | cronMonthName) for value in monthValues">
            </select> -->
      <!-- If Multiple is not Enabled  -->
      <select class="cron-select month-value" [(ngModel)]="selectedMonth">
        <option *ngFor="let item of cronMonthName" [ngValue]="item.value">{{item.label}}</option>
      </select>
    </div>

    <span *ngIf="selectedBase >= 2">at </span>
    <div *ngIf="selectedBase >= 3" class="cron-select-wrap">
      <select class="cron-select hour-value" [(ngModel)]="selectedHour">
        
        <option *ngFor="let item of hourValues" [ngValue]="item">{{item}}</option>
      </select>
      <!-- If Multiple is Enabled  -->
      <!-- If Multiple is not Enabled 
  <select class="cron-select hour-value" ng-model="frequency.hourValues" *ngIf="!allowMultiple" ng-options="value as value for value in hourValues">
            </select> -->
    </div>
    <span *ngIf="selectedBase >= 3"> : </span>
    <div *ngIf="frequency.base >= 2" class="cron-select-wrap">
      <!-- If Multiple is Enabled -->

      <select class="cron-select minute-value" [(ngModel)]="selectedMinutes">
        <option *ngFor="let item of minuteValues" [ngValue]="item">{{item}}</option>
        </select>
      <!-- If Multiple is not Enabled 
<select class="cron-select minute-value" ng-model="frequency.minuteValues" *ngIf="!allowMultiple" ng-options="value as value for value in minuteValues">
            </select> -->
    </div>
    <span *ngIf="selectedBase == 2"> past the hour</span>

  </div>
</div>